<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Cheques</title>
</head>
<body>
{% extends 'layouts/Navegacion.html' %}

{% block contenido %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                <h1 class="display-4">
                    Cheques
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Filtrar los datos por fecha -->
                <form action="{% url 'ChequesIndex' %}" method="post"
                      class="row d-flex flex-row align-items-center gap-3">
                    {% csrf_token %}
                    <div class="col-12 col-md-5">
                        <label for="fecha_inicio">Desde:</label>
                        <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control">
                    </div>
                    <div class="col-12 col-md-5">
                        <label for="fecha_fin">A:</label>
                        <input type="date" name="fecha_fin" id="fecha_fin" class="form-control">
                    </div>
                    <div class="col-12 col-md-2">
                        <button class="btn btn-primary">Buscar cheques</button>
                    </div>
                    <div class="col-12">
                        <b><p class="text-danger "> {{ error }}</p></b>
                    </div>
                    <div class="col-12">
                        <b><p class="text-success "> {{ correcto }}</p></b>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form class="" action="{% url 'Accion_Cheques' %}" method="post">
                    {% csrf_token %}
                    <table class="table table-hover align-middle">
                        <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Fecha</th>
                            <th>Mesa</th>
                            <th>Estado de facturación</th>
                            <th>Total de productos</th>
                            <th>Subtotal</th>
                            <th>Total</th>
                            <th>Método de pago</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for cheque in cheques %}
                            <tr class="{% if cheque.facturado == True or cheque.tarjeta != 0 or cheque.estado == True %}table-warning{% endif %}">
                                <td>{{ cheque.folio }}</td>
                                <td>{{ cheque.fecha }}</td>
                                <td>{{ cheque.mesa }}</td>
                                <td>{% if cheque.facturado == False %}Sin facturar {% else %}Facturado{% endif %}</td>
                                <td>{{ cheque.totalarticulos }}</td>
                                <td>{{ cheque.subtotal }}</td>
                                <td>{{ cheque.total }}</td>
                                <td>{% if cheque.efectivo != 0 %}Efectivo {% elif cheque.tarjeta != 0 %}
                                    Tarjeta{% endif %}</td>

                                {% if cheque.facturado == True %}
                                    <td>

                                    </td>
                                    <td>

                                    </td>

                                {% elif cheque.tarjeta != 0 %}
                                    <td>
                                    </td>

                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="grupo_sustituir" value="{{ cheque.folio }}"
                                                   id="flexCheckChecked">
                                        </div>
                                    </td>

                                {% elif cheque.estado == False %}
                                    <td class="">
                                        <div class="dropdown col-md-4">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item"
                                                       href="{% url 'BloquearCheque' cheque.folio %}">Bloquear</a></li>

                                                <li><a class="dropdown-item"
                                                       href="{% url 'EliminarCheque' cheque.folio %}">Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="grupo_eliminar" value="{{ cheque.folio }}"
                                                   id="flexCheckChecked">
                                        </div>
                                    </td>

                                {% else %}
                                    <td class="">
                                        <div class="dropdown col-md-4">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item"
                                                       href="{% url 'DesbloquearCheque' cheque.folio %}">Desbloquear</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>

                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row gap-3 justify-content-end">
                        <div class="dropdown col-md-4">
                            <button class="btn btn-warning dropdown-toggle w-100" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Sustituir
                            </button>
                            <ul class="dropdown-menu">
                                <li><button type="submit" class="dropdown-item" name="accion" value="sustituir_producto_lista_uno">Sustiuir por café en grano 1/4</button>
                                <li><button type="submit" class="dropdown-item" name="accion" value="sustituir_producto_lista_dos">Sustituir por pan para llevar 1 pieza</button></li>
                                <li><button type="submit" class="dropdown-item" name="accion" value="sustituir_producto_lista_tres">Sustituir por pan para llevar 2 piezas</button></li>
                                <li><button type="submit" class="dropdown-item" name="accion" value="sustituir_producto_lista_cuatro">Sustituir por 2 cargas de café</button></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><button type="submit" class="dropdown-item" name="accion" value="sustituir_producto_lista_random">Sustituir por un producto aleatorio</button></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-danger w-100" name="accion" value="eliminar_grupo">Eliminar selección</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
{% endblock %}


</body>
</html>